.app {
  flex: 1;
  width: 100%;
  min-width: 360px;
  height: 100%;
  text-align: center;
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d4d4d4;
  padding: 10px;
  border-bottom: 1px solid #d4d4d4;
  width: 100%;
  position: relative;
  /* height: 36px; */
}

.app-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #000000;
  margin-left: 20px;
}

.header-buttons {
  padding-right: 20px;
}

.header-buttons button {
  margin-left: 20px;
  padding: 6px 16px;
  font-size: 1rem;
  cursor: pointer;
}

.tool-sidebar {
  position: absolute;
  height: 200px;
  width: 50px;
  margin-right: 25px;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 0;
}

.tool-container {
  position: relative;
}

.tool {
  width: 50px;
  height: 50px;
  font-size: 36px;
  cursor: pointer;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  margin: 25px 0;
  transition: background-color 0.2s;
}

.tool.active {
  background-color: #ffffff3d;
  outline: 2px solid black;
  border-radius: 5px;
}

.color-dropdown {
  position: absolute;
  top: 80px; /* Below pencil icon */
  right: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  gap: 10px;
  z-index: 10; /* Above canvas */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.color-dropdown svg {
  cursor: pointer;
}

.erase-dropdown {
  position: absolute;
  color: #464646;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 10;
  display: flex;
  flex-direction: column;
  top: 80px;
  width: 48px;
  height: 25px;
  font-size: 14px;
  cursor: pointer;
}

.canvas-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 50px);
  width: 100%;
  position: relative;
  overflow: auto;
}

.canvas {
  border: 1px solid black;
  display: inline-block;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  /* height: 90%; */
  /* margin: 100px; */
}
